body{
  height:80vh;
}


#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
}
.containerPrincipal{
  width:450px;
  height:450px;
  background-color: rgb(32, 21, 21);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.screen{
  height:20%;
  width:100%;
  background-color: rgb(32, 21, 21);
  color:white;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}
.screen > p{
  margin-right: 20px;
}
.AmazingNumber{
  display: flex;
  flex-wrap: wrap;
  width:60%;
  align-content: flex-end

}
.number_button{
  height:100%;
  width:100%;
  background-color: grey;
  /* border-radius: 1em */
}
.number_div{
  height:90px;
  width:90px;
}
.diviseNumber_Operator{
  display: flex;
  flex-direction: row;
}
.operator{
  width:40%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
.bottomButton{
  display: flex;
  flex-direction: row;
  width:100%;
}
.bottomButton > :nth-child(3){
  /* flex:2; */
  background-color: orange;
  font-size:2em;
}

#itsOver{
  background-color: rgb(32, 21, 21);
  color: white;
  height:100%;
  /* display: block; */
  width:100%;
}
#itsOver > p{
  margin-left: 20px;
}


#vegeta{
  height:400px;
  width:400px;

}

.toggleFocus{
  background-color: orange;
}